@font-face {
    font-family: digital;
    src: url(./Digital.ttf);
}

@font-face {
    /*used to define custom fonts and make them available for use throughout the CSS file */
    font-family: inter;
    src: url(./Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    /*used to define custom fonts and make them available for use throughout the CSS file */
    font-family: gilroy;
    src: url(GILROY-MEDIUM.TTF);
}

@font-face {
    /*used to define custom fonts and make them available for use throughout the CSS file */
    font-family: gilroyb;
    src: url(GILROY-BOLD.TTF);
}

/* .clock{
    font-family: 'digital';
    font-size: 72px;
    color: crimson;
    text-align: center;
    margin-top: 20%;
}

body{
    background-color: black;
}

.date{
    font-size: 36px;
} */

body{
    background-color: #eeedec;
    transition: background-color 0.35s ease, color 0.35s ease;

    /* transition: color 0.4s ease; */


    /* color: white; */
}



.container{
    /* transition: background-color 50s; */
    margin-left: 5%;
    margin-right:5%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: inter;
}

h1{
    text-align: center;
    margin-left: 4%;
    margin-right:4%;
    /* color: #6c757d; */
    /* color: white; */

    font-family: gilroyb;
    margin-top: 2%;
    margin-bottom: 0.9%
}

.container form{
    margin-left: 4%;
    margin-right:4%;
    text-align: center;
    /* color: #6c757d */
    /* color: white; */


}

.container input{
    display: block;
    width: 80%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .35rem;
    /* padding: 0.3%; */
    /* margin-left: 20%;
    margin-right: 20%; */
    max-width: 25.5%;
    margin: auto;
    margin-top: 15px;
}

.container label{
    /* padding-bottom: 1000px; */
}

.card{
    margin-top:150px;
    margin: auto;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    border-radius: 0.75rem;
    height: 535px;
    width: 400px;
    position: fixed;
    left: 39.6%
}

.container img{
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;



}

.icon{
    background-color: #ced4da;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.details{
    /* color: #6c757d; */
    /* color: white; */
    text-align: center;
}

.hide{
    display: none
}
h3{
    margin-top: -35px;
    margin-bottom: 0;
    position: relative;
}

img{
    max-width: 400px;
    padding-left: auto;
    padding-right: auto;

}

.icon{
    /* background: #2a2649; */
    margin-top: 5px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    margin-bottom: -1px;
    position: relative;
    top: -45px;
    justify-content: center;
    align-items: center;

}

.icon img{
    filter: invert(100%);
    position: relative;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    /* right: 2.5px;
    top: 5px; */
}

.night{
    background-color: #352f5b;
    /* color:white; WITE*/
    color: #ffeb98;
}

.night .icon{
    background-color: #2a2649;
}

.day .icon{
    background-color: orange;
}

.day{
    background-color: #fce09d;
    color: #783511 !important;
}

.normal * {
    color: #3c4145 !important;
}

.night .card{
    background-color: #42396e;
}

.night .card * {
    color: #ffeb98;
    /* WITE */
}

.night .changeloc input{
    background-color: #2a2649;
    border: none;
    color: white;
}

.day .card{
    background-color: #ffd061;
}

.day .changeloc input{
    /* background-color: orange; */
    background-color: #ffcb4f;
    border: none;
    color: white;
}